{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}تایید بازنشانی رمز عبور{% endblock %}

{% block content %}
    <main class="fix">
        <section class="forgot__area-one">
            <div class="container">
                <div class="text-center mb-55">
                    <h1 class="text-48-bold">تعیین رمز عبور جدید</h1>
                </div>
                <div class="box-form-login">
                    <p class="text-16-semibold">رمز عبور جدید خود را در فیلدهای زیر وارد کنید:</p>
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="module aligned">
                            <div class="form-floating">
                                {% render_field form.new_password1 class+="form-control" id="floatingNewPassword1" placeholder="رمز عبور جدید" %}
                            </div>
                            <br>
                            <div class="form-floating">
                                {% render_field form.new_password2 class+="form-control" id="floatingNewPassword2" placeholder="تکرار رمز عبور جدید" %}
                            </div>
                            <br>
                        </fieldset>
                        <button type="submit" class="btn btn-login btn-large">ذخیره رمز عبور</button>
                    </form>
                </div>
            </div>
        </section>           
    </main>
{% endblock content %}
