{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}بازنشانی رمز عبور{% endblock %}

{% block content %}
    <main class="fix">
        <section class="forgot__area-one">
            <div class="container">
                <div class="text-center mb-55">
                    <h1 class="text-48-bold">ایمیل ارسال شد</h1>
                </div>
                <div class="box-form-login">
                    <div class="container">
                        <div class="text-center mb-55">
                            <p>ایمیل بازنشانی رمز عبور به آدرس ایمیل شما ارسال شد. لطفاً صندوق ورودی یا پوشه اسپم خود را بررسی کنید.</p>
                            <br>
                            <br>
                            <a href="{% url 'home' %}" class="btn btn-login">بازگشت به صفحه اصلی</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </main>
{% endblock content %}
