{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}تکمیل بازنشانی رمز عبور{% endblock %}

{% block content %}
    <main class="fix">
        <section class="register__area-one">
            <div class="container">
                <div class="text-center mb-55">
                    <h1 class="text-48-bold">بازنشانی رمز عبور کامل شد </h1>
                </div>
                <div class="box-form-login">
                    <div class="head-login">
                      <form method="post">
                          <div class="text-center mb-55">
                            <p>رمز عبور شما با موفقیت بازنشانی شد. حالا می‌توانید وارد حساب کاربری خود شوید.</p>
                            <br>
                            <br>
                            <a href="{% url 'signin' %}" class="btn btn-login">ورود به حساب کاربری</a>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </section>    
    </main>
{% endblock content %}
