{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/components/footer.css' %}">
{% endblock %}


<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-grid">
            <!-- بخش لوگو -->
            <div class="footer-col">
                <div class="footer-logo">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="لوگو">
                </div>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            

            <!-- بخش اطلاعات تماس -->
            <div class="footer-col">
                <h3>اطلاعات تماس</h3>
                <ul class="contact-info">
                    <li><i class="fas fa-phone"></i> 09122187891</li>
                    <li><i class="fas fa-envelope"></i> siamak.rahi@yahoo.com</li>
                </ul>
            </div>

            <!-- بخش لینک‌های سریع -->
            <div class="footer-col">
                <h3>لینک‌های سریع</h3>
                <ul class="quick-links">
                    <li><a href="{% url 'home' %}">خانه</a></li>
                    <li><a href="{% url 'service' %}">خدمات ما</a></li>
                    <li><a href="{% url 'team' %}">تیم ما</a></li>
                    <li><a href="{% url 'contact' %}">تماس با ما</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>طراحی شده توسط سیامک راهی ، تمام حقوق محفوظ است.</p>
        </div>
    </div>


    {% include 'app_chatbot/chat_widget.html' %}

</footer>
