{% extends "base.html" %}
{% load static widget_tweaks socialaccount %}

{% block title %}ثبت نام{% endblock %}

{% block description %}صفحه ثبت نام{% endblock %}

{% block extra_css %}
<!-- CSS های اختصاصی -->
<link rel="stylesheet" href="{% static 'assets/css/pages/signup.css' %}">
{% endblock %}

{% block content %}
<main class="fix">
    <section class="register__area-one">
        <div class="container">
            <div class="text-center mb-55">
                <h1 class="text-48-bold">ایجاد حساب کاربری</h1>
            </div>
            <div class="box-form-login">
                <div class="head-login">
                    <!-- نمایش پیام‌ها -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message|striptags }}  <!-- افزودن فیلتر striptags -->
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post" id="signup-form">
                        {% csrf_token %}
                        <h3>ثبت نام</h3>
                        <p>لطفا اطلاعات زیر را وارد نمایید</p>
                        <div class="form-login">
                            <!-- نمایش خطاهای فرم -->
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <!-- فیلدهای فرم -->
                            {% for field in form %}
                                <div class="form-floating">
                                    {% render_field field class="form-control" placeholder=field.label %}
                                    {% if field.help_text %}
                                        <small class="text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                                <br>
                            {% endfor %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-login">ایجاد حساب کاربری و ورود</button>
                            </div>
                            <br>
                            <p>حساب کاربری دارید؟ <a class="link-bold" href="{% url 'signin' %}">وارد</a> شوید</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %} 

{% block extra_js %}
<!-- JS های خاص صفحه  -->
{% endblock %}