{% extends "base.html" %}
{% load static %}

{% block title %} {% endblock %}

{% block description %} {% endblock %}

{% block extra_css %}
<!-- CSS های اختصاصی -->
<link rel="stylesheet" href="{% static 'assets/css/pages/verify_totp.css' %}">
{% endblock %}

{% block content %}
<br><br><br><br><br>
<div class="auth-container">
    <h1 class="auth-header">تأیید دو مرحله‌ای</h1>
    
    <p class="detail-value">لطفاً کد 6 رقمی را از برنامه Authenticator خود وارد کنید:</p>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label class="detail-label" for="id_otp_token">کد تأیید:</label>
            {{ form.otp_token }}
            {% if form.otp_token.errors %}
                <div class="text-danger small mt-1">{{ form.otp_token.errors }}</div>
            {% endif %}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-two">تأیید</button>
            <a href="{% url 'signin' %}" class="btn btn-two" style="background-color: #bc6c25;">بازگشت به ورود</a>
        </div>
    </form>
    
    <div class="mt-4 text-center">
        <p class="detail-value">دسترسی به برنامه Authenticator ندارید؟</p>
        <a href="{% url 'recovery_options' %}" class="recovery-link">استفاده از روش‌های بازیابی</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- JS های خاص صفحه  -->
{% endblock %}
