{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %} csrf error {% endblock %}

{% block description %} csfr error page {% endblock %}

{% block extra_css %}
<!-- CSS های اختصاصی -->
<link rel="stylesheet" href="{% static 'assets/css/pages/403_csrf.css' %}">
{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="text-danger">خطای 403: دسترسی ممنوع</h1>
    <p class="lead">
        درخواست شما به دلیل عدم تأیید امنیتی (CSRF) رد شد.
    </p>
    <p>
        <a href="/" class="btn btn-primary">بازگشت به صفحه اصلی</a>
    </p>
</div>
{% endblock %}

{% block extra_js %}
<!-- JS های خاص صفحه  -->
{% endblock %}

