{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}بازنشانی رمز عبور{% endblock %}

{% block content %}
    <main class="fix">
        <section class="forgot__area-one">
            <div class="container">
                <div class="text-center mb-55">
                    <h1 class="text-48-bold">فراموشی رمز عبور</h1>
                </div>
                <div class="box-form-login">
                    <p class="text-16-semibold">نگران نباشید، ما دستورالعمل بازنشانی رمز عبور را برای شما ارسال می‌کنیم.</p>
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="module aligned">
                            <div class="form-floating">
                                {% render_field form.email class+="form-control" id="floatingEmail" placeholder="ایمیل خود را وارد کنید" %}
                            </div>
                        </fieldset> 
                        <br>                       
                        <div class="form-group">
                            <button type="submit" class="btn btn-login btn-large">ارسال ایمیل بازنشانی</button>
                        </div>
                    </form>
                    <div class="form-group">
                        <button class="btn border-btn btn-login" onclick="location.href='{% url 'signin' %}'">
                            رفتن به صفحه ورود
                        </button>
                    </div>
                    <p class="text-center">حساب کاربری ندارید؟ <a class='link-bold' href='{% url 'signup' %}'>ثبت‌نام</a></p>
                </div>
            </div>
        </section>               
    </main>
{% endblock %}